<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block head_extra %}{% endblock %}
 </head>
 <body>
  {% block header %}
   <h1>{% block header_title %}Errors{% endblock %}</h1>
  {% endblock %}
  {% block content %}{% endblock %}

  <footer>
  {% block footer %}
  {% endblock %}
  </footer>
 </body>
</html>
